<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <%= if self.is_logged_in? %>
    <%= self.current_user.username %>
    <%= self.current_user.balance %>
    <a href="/"></a>
    <% else %>
    <a href="/sessions/logout">Log Out</a>
      <% end %>
    <% end %>
  </body>
</html>